@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat.ttf) format('ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 /* .imageheader {
   z-index: 1;
    width: 704px;
    height: 600px;
    background-image: url('hero-cover-1.png');
    
 } */

 .imageheader {
   width: 704px;
   height: 682px;
   margin-right: -100px;
   margin-top: -1px;

 }
 header{
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    padding: 21px 20px 162px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

 }
 .logo {
   position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    padding: 21px 169px 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252B42;
 }
 .green1 {
   background-color: #eef8ed;
   padding: 10px;
   width: 121px;
   height: 286px;
   margin-left: -126px;
   margin-top: -870px;
   border-radius: 38px;
 }
 header ul {
   width: 100%;
    position: relative;
    display: flex;
    margin-right: 800px;
    left: 343px;
    top: -13px;

 }
 header ul li {
    list-style: none;
    
    
 }
 header ul li a {
    display: inline-block;
    color: #737373;
    font-weight: 800;
    margin: 20px;
    margin-left: -2px;
    text-decoration: none;
    font-size: 14px;
 }
 .loginjoin {
   left: -95px;
 }
 .loginjoin a {
   color: #97bb7d;
   margin-left: 30px;
 }

 .joinbtn a {
   color: white;
 }
 .joinbtn {
   background-color: #97bb7d;
   width: 124px;
   border-radius: 10px;

 }
 .green2 {
   background-color: #eef8ed;
   width: 604px;
   height: 800px;
   margin-right: -1600px;
   margin-top: -308px;
   
   
 }
